*
{
    margin: 0;
    padding: 0;
}
.container
{
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}
.container h1,h2
{
    margin: 23px 0;
}
.container form
{
    display: flex;
    flex-direction: column;
}
.container form input[type='number'],select,label
{
    font-size: 25px;
    margin-bottom: 23px;
    width: 23vw;
}
.container form label
{
    font-size: 25px;
}
footer
{
    text-align: center;
}
nav
{
    display: flex;
    font-size: 20px;
    background-color: rgb(224, 209, 245);
    padding: 23px;
}
nav ul
{
    display: flex;
}
nav ul li
{
    list-style: none;
    margin: 0 23px;
}
nav ul li a
{
    text-decoration: none;
    color: rgb(2, 3, 18);
}
nav ul li a:hover
{
    color: rgb(71, 24, 146);
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
    font-size: 24px;
}
.btn
{
    width: 144px;
    padding: 5px 8px;
    font-size: 23px;
    border-radius: 13px;
    cursor: pointer;
    background-color: #e0d0f5;
    color: black;
}
.output
{
    display:none;
}
.output table
{
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}
.output table th
{
    padding: 3px;
}
@media (max-width:838px)
{
    nav
    {
        flex-direction: column;
        font-size: 14px;
    }
    nav ul
    {
        justify-content: center;
    }
    nav ul li
    {
        margin: 5px 3px;
    }
    .container
    {
        max-width: 95vw;
    }
    .container form input[type='number'],select,label
    {
        width: 80vw;
    }

}